.footer
    &__inner
        background: #1F2021
        display: flex
    &__left
        padding: 83px 87px 92px 80px
    &__text
        color: #ffffff
        span
            font-family: Montserrat
            font-style: normal
            font-weight: bold
            font-size: 48px
            line-height: 59px
            p
                font-family: Montserrat
                font-style: normal
                font-weight: normal
                font-size: 28px
                line-height: 91.2%