.subscribe
    padding: 91px 80px 115px 0
    &__top
        display: flex
        padding: 0 0 24px 0
    &__input
        width: 300px
        height: 65px
        border-radius: 10px
        padding: 22px 0 26px 33px

        font-family: Montserrat
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 17px
    &__btn
        padding: 0 0 0 16px
        &-item
            padding: 22px 75px 26px 75px
            background: #6EBBD3
            border-radius: 10px
    &__bottom
        display: flex
        align-items: center
    &__checkbox
        &-text
            padding: 0 0 0 18px
            color: #ffffff
            font-family: Montserrat
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 17px