.header
    padding: 40px 0 0 0
    background: #1F2021
    color: #ffffff
    position: relative
    &__img
        height: 100%
        width: 100%
        position: absolute
        top: 0
        left: 50%
        transform: translateX( -50% )
        opacity: 0.2
        img
            object-fit: cover
    &__inner
        position: relative
        z-index: 2
    &__top
        display: flex
        align-items: center
    &__logo
        margin-right: 120px
    &__menu
        margin-right: auto
    &__bottom
        padding-top: 50px
        padding-bottom: 66px
        @media screen and ( max-width: 768px )
            padding-top: 25px
            padding-bottom: 33px
    &__search
        font-weight: bold
        font-size: 38px
        @media screen and ( max-width: 768px )
            font-size: 24px

    